version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: kasparro_user
      POSTGRES_PASSWORD: kasparro_password
      POSTGRES_DB: kasparro_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    # Reload allows you to edit code without restarting docker
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://kasparro_user:kasparro_password@db:5432/kasparro_db
      # Add your API Key here later
      API_KEY: "replace_with_provided_key" 

volumes:
  postgres_data: